body{
    background-color: rgb(230, 247, 248);
    text-align: center;
    font-family: serif;
    color: #40514E;
    
}
.photo{
    width: 10%;
    border-radius: 100px;
}

.photo1{
    width:50%;
    border-radius: 100px;
    float: left;
    
}
.photo2{
    width: 45%;
    border-radius: 100px;
    float: right;
   
}

.para1{
    font-size: 2rem;
    size: 100px;
}

.text1{
    margin-bottom: 140px;
}
.text2{
    color: rgb(131, 170, 228);
    font-size: large;
}

.cricket{
    width: 5%;
    position: absolute;
    border-radius: 100px;
    right: 39%;
}

.gardning{
    width: 5%;
    position: absolute;
    border-radius: 100px;
    right: 35%;

}

.food{
    width: 5%;
    position: absolute;
    border-radius: 100px;
    right: 30%;
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 10px;
    border-color: #b9bdbd;
    margin-top: 4%;
    
}

.head{
    width: 10%;
    margin: 0 auto 0 auto;
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
}

.firstcontainer{
    background-color: rgb(221, 249, 253, 0.667);
    padding-top: 50px;
    padding-bottom: 50px;
}

.secondcontainer{
    margin-top: 40px;
}
.firstcloud{
    display: block;
    position: relative;
    left: 60%;
}
.secondcloud{
    display: block;
    position: absolute;
    left: 30%;

}

.third1{

    margin: 80px auto 0 auto;
    width: 50%;
    line-height: 2;

    border-radius: 100px;
}

.third2{
    margin: 0 auto 0 auto;
    width: 50%;
    line-height: 2;
    border-radius: 100px;
}
.txt{
    color: rgb(19, 206, 216);
}

.cont{
    width: 10%;
    
}
.sixcontainer{
    background-color: #66BFBF;
    padding: 20px 0 10px 0;
   
    
}

.aa{
    margin: 10px 20px;
    color: #11999E;
    font-family: 'Georgia' sans-serif;
    text-decoration: none;
}
.aa:hover{
    color: aliceblue;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
}